*{
    padding: 00;
    margin: 00;
    box-sizing: border-box;
}
body{
    background-color: #22223b;
    padding: 20px;
}
h1{
   background-color: #4a4e69;
   padding: 20px;
}
h2{
    background-color: #9a8c98;
    padding: 20px;
}
ol{
    background-color: #c9ada7;
    padding: 20px;
}
p{
    background-color: #f2e9e4;
    padding: 20px;
}