<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\thankyou.css">
    <title>Result</title>
</head>
<body>
    <h1>GPI FORM OUTPUT</h1>
    <h2>Thank you! Your form data has been recieved</h2>
    <ol>
        <li>
            Your Email is {{.Email}}
        </li>
        <li>
            Your password is {{.Password}}
        </li>
    </ol>
    <p>{{.formData}}</p>
</body>
</html>